html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0A4ABF;
    
}

* {
    font-family: "Futura", sans-serif;
}
.BestBuyLogo {
    max-width: 200px;
    max-height: 200px;
}
.display-4 {
    color: #FFED31;
}
.HomeParagraphs {
    color: #1C252C;
}
header {
    background-color: #1C252C;
}

.table {
    color: #FFED31;
}
