@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="BestBuyLogo" src="https://media.king5.com/assets/TEGNANC/images/c32521de-6d98-4550-8874-f0e53db8147b/c32521de-6d98-4550-8874-f0e53db8147b_1140x641.jpg" alt="BestBuy Logo" />
    <h1 class="display-4">MySQL BestBuy DataBase</h1>
    <p class="HomeParagraphs">Inspect, Update, Insert, and Delete products all from this custom database!</p>
    <div> 
        <p class="HomeParagraphs">If you would like to see other projects I have created, checkout my <a href="https://github.com/ErikHedman23">GitHub</a>!</p>
    </div>
</div>
